syntax: glob
*.egg-info
*.pyc
.DS_Store
.idea
.ipynb_checkpoints
.jupyter
.jupyterlab
.pytest_cache
/build/
/geckodriver.log
/html/
/log.html
/output.xml
/report.html
/result
/selenium-screenshot-*.png
/src/jupyterlab_robotmode/node_modules/
/tmp/
