graft src/robotkernel
graft pkgs
graft docs
graft tests
graft atest
recursive-include src *.js
include LICENSE *.rst *.nix
exclude Makefile Dockerfile requirements*.txt *.ipynb *.json
prune binder
prune examples
prune src/jupyterlab_robotmode
global-exclude *.py[co]
