graft src/robotkernel
graft docs
graft tests
graft atest
graft _templates

recursive-include src *.js
include LICENSE *.rst *.yml
exclude Makefile Dockerfile requirements*.txt *.nix *.png *.ipynb *.json dodo.py conf.py

prune .github
prune binder
prune examples
prune lite
prune nix
prune pkgs

global-exclude *.py[co]
