Appium-Python-Client==0.52
GenSON==1.2.1
MarkupSafe==1.1.1
RESTinstance==1.0.2
Send2Trash==1.5.0
alabaster==0.7.12
appdirs==1.4.3
astroid==2.4.0
attrs==19.3.0
babel==2.8.0
backcall==0.1.0
black==19.10b0
bleach==3.3.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
coverage==4.5.4
coveralls==2.0.0
decorator==4.4.2
defusedxml==0.6.0
docopt==0.6.2
docutils==0.16
entrypoints==0.3
faker==4.0.3
fancycompleter==0.9.1
flex==6.14.1
furl==2.1.0
future==0.18.2
idna==2.9
imagesize==1.2.0
importlib-metadata==1.6.0
iplantuml==0.1.1
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.17.0
jinja2==2.11.2
json5==0.9.4
jsonpath-ng==1.5.1
jsonpointer==2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-starters==0.2.2a0
jupyterlab==2.1.1
jupyterlab-server==1.1.1
jupytext==1.4.2
kitchen==1.2.6
lazy-object-proxy==1.4.3
lunr==0.5.8
lxml==4.5.0
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.2.0
nbconvert==5.6.1
nbformat==4.4.0
nbimporter==0.3.2
nbsphinx==0.6.1
notebook==6.0.3
orderedmultidict==1.0.1
packaging==20.3
pandocfilters==1.4.2
parso==0.7.0
pathspec==0.8.0
pdbpp==0.10.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==7.1.2
plantweb==1.2.1
pluggy==0.13.1
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==2.0.10
ptyprocess==0.6.0
py==1.8.1
pycodestyle==2.5.0
pydocstyle==5.0.2
pyflakes==2.2.0
pygments==2.6.1
pylama==7.7.1
pylint==2.5.0
pyparsing==2.4.7
pyrepl==0.9.0
pyrsistent==0.16.0
pytest==5.4.1
pytest-runner==5.2
python-dateutil==2.8.1
pytz==2019.3
pyyaml==5.3.1
pyzmq==19.0.0
qtconsole==4.7.3
qtpy==1.9.0
regex==2020.4.4
requests==2.23.0
rfc3987==1.3.8
rise==5.6.1
robotframework==3.1.2
robotframework-appiumlibrary==1.5.0.4
robotframework-faker==5.0.0
robotframework-jupyterlibrary==0.2.0
robotframework-seleniumlibrary==4.3.0
robotframework-seleniumscreenshots==0.9.5
robotframework-seleniumtestability==0.9.2
selenium==3.141.0
setuptools-scm==3.5.0
six==1.14.0
snowballstemmer==2.0.0
sphinx==3.0.3
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
strict-rfc3339==0.7
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
toml==0.10.0
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
tzlocal==2.0.0
urllib3==1.25.9
validate-email==1.3
wcwidth==0.1.9
webencodings==0.5.1
widgetsnbextension==3.5.1
wmctrl==0.3
wrapt==1.12.1
zipp==3.1.0
