docutils==0.17.1
ipykernel
ipywidgets
lunr
mccabe==0.6.1
nbformat
nbimporter
pillow
pygments
robotframework==3.1.2

nbsphinx
sphinx
sphinx-rtd-theme

pytest
pytest-runner

black
click==8.0.3
coverage
coveralls
isort
pdbpp
pydocstyle
pylama
pylint

faker
iplantuml
jsonschema
jupyter
jupyter-starters
jupyter-contrib-nbextensions
jupyterlab
jupytext
requests
RESTinstance
rise
selenium==4.1.0
# robotframework-appiumlibrary
robotframework-faker
robotframework-seleniumlibrary==5.0.1
robotframework-seleniumtestability
robotframework-seleniumscreenshots
git+https://github.com/robots-from-jupyter/robotframework-jupyterlibrary.git@6a9a8a2c844bf6f435ed806216afe501f0dd0ca2
setuptools-scm

text-unidecode
prompt-toolkit

# Appium-Python-Client
