docutils==0.14
ipykernel
ipywidgets
lunr
nbformat
nbimporter
pillow
pygments==2.3.1
robotframework

sphinx
sphinx-rtd-theme
nbsphinx

pytest
pytest-runner
setuptools-scm

black
coverage
coveralls
isort
pdbpp
pydocstyle==3.0.0
pylama
pylint

faker
text-unidecode==1.2
iplantuml
jupyter
jupyterlab
jupyter-contrib-nbextensions
rise
RESTinstance
requests==2.21.0
jsonschema==3.0.1
robotframework-appiumlibrary
robotframework-faker
robotframework-seleniumlibrary
robotframework-seleniumscreenshots

Appium-Python-Client
