Appium-Python-Client==0.34
GenSON==1.0.1
MarkupSafe==1.1.0
PyYAML==3.13
RESTinstance==1.0.0rc4
Send2Trash==1.5.0
alabaster==0.7.12
atomicwrites==1.2.1
attrs==18.2.0
babel==2.6.0
backcall==0.1.0
bleach==3.0.2
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
check-manifest==0.37
click==6.7
cmarkgfm==0.4.2
colorama==0.4.1
coverage==4.5.2
decorator==4.3.0
defusedxml==0.5.0
docutils==0.14
entrypoints==0.2.3
faker==1.0.1
flake8==3.6.0
flake8-blind-except==0.1.1
flake8-coding==1.3.1
flake8-commas==2.0.0
flake8-debugger==3.1.0
flake8-polyfill==1.0.2
flake8-quotes==1.0.0
flex==6.13.2
future==0.17.1
graphviz==0.10.1
html5lib==1.0.1
idna==2.7
imagesize==1.1.0
ipykernel==5.1.0
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
jedi==0.13.2
jinja2==2.10
jsonpath-ng==1.4.3
jsonpointer==1.14
jsonschema==3.0.0a3
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.0
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==0.35.4
jupyterlab-launcher==0.13.1
jupyterlab-server==0.2.0
kitchen==1.2.5
lti==0.9.4
lunr==0.5.4
lxml==4.2.5
mccabe==0.6.1
mistune==0.8.4
more-itertools==5.0.0
nbconvert==5.3.1
nbformat==4.4.0
nbimporter==0.3.1
nbsphinx==0.4.1
notebook==5.7.4
oauthlib==2.1.0
packaging==18.0
pandocfilters==1.4.2
parso==0.3.1
pep8-naming==0.7.0
pexpect==4.6.0
pickleshare==0.7.5
pillow==5.3.0
pkginfo==1.4.2
pluggy==0.8.0
ply==3.11
prometheus-client==0.5.0
prompt-toolkit==1.0.15
ptyprocess==0.6.0
py==1.7.0
pycodestyle==2.4.0
pycparser==2.19
pyflakes==2.0.0
pygments==2.2.0
pyparsing==2.3.0
pyroma==2.4
pyrsistent==0.14.8
pytest==4.0.2
pytest-cov==2.6.0
pytest-runner==4.2
python-dateutil==2.7.5
pytz==2018.5
pyzmq==17.1.2
qtconsole==4.4.3
readme-renderer==24.0
requests==2.20.0
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
rfc3987==1.3.8
rise==5.4.1
robotframework==3.1
robotframework-appiumlibrary==1.5.0.1
robotframework-debuglibrary==1.1.4
robotframework-faker==4.2.0
robotframework-seleniumlibrary==3.3.0
robotframework-seleniumscreenshots==0.9.3
selenium==3.141.0
setuptools==40.6.3
setuptools-scm==3.1.0
simplegeneric==0.8.1
six==1.12.0
snowballstemmer==1.2.1
sphinx==1.8.3
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
strict-rfc3339==0.7
terminado==0.8.1
testpath==0.4.2
text-unidecode==1.2
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
twine==1.12.1
tzlocal==1.5.1
urllib3==1.24.1
validate-email==1.3
vcversioner==2.16.0.0
wcwidth==0.1.7
webencodings==0.5.1
wheel==0.32.3
widgetsnbextension==3.4.2
wrapt==1.10.11
yapf==0.25.0
zest.releaser==6.15.3
