Appium-Python-Client==0.48
GenSON==1.1.0
MarkupSafe==1.1.1
RESTinstance==1.0.2
Send2Trash==1.5.0
alabaster==0.7.12
appdirs==1.4.3
astroid==2.3.2
atomicwrites==1.3.0
attrs==19.3.0
babel==2.7.0
backcall==0.1.0
black==19.3b0
bleach==3.1.0
certifi==2019.9.11
chardet==3.0.4
click==7.0
coverage==4.5.4
coveralls==1.8.2
decorator==4.4.1
defusedxml==0.6.0
docopt==0.6.2
docutils==0.15.2
entrypoints==0.3
faker==2.0.3
fancycompleter==0.8
flex==6.14.1
furl==2.1.0
future==0.18.1
graphviz==0.13
idna==2.8
imagesize==1.1.0
importlib-metadata==0.23
iplantuml==0.1.1
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.15.1
jinja2==2.10.3
json5==0.8.5
jsonpath-ng==1.4.3
jsonpointer==2.0
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==1.1.4
jupyterlab-server==1.0.6
kitchen==1.2.6
lazy-object-proxy==1.4.3
lunr==0.5.5
lxml==4.4.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==7.2.0
nbconvert==5.6.1
nbformat==4.4.0
nbimporter==0.3.1
nbsphinx==0.4.3
notebook==6.0.1
orderedmultidict==1.0.1
packaging==19.2
pandocfilters==1.4.2
parso==0.5.1
pdbpp==0.10.2
pexpect==4.7.0
pickleshare==0.7.5
pillow==6.2.1
plantweb==1.2.1
pluggy==0.13.0
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==2.0.10
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.5.0
pydocstyle==4.0.1
pyflakes==2.1.1
pygments==2.4.2
pylama==7.7.1
pylint==2.4.3
pyparsing==2.4.2
pyrsistent==0.15.5
pytest==5.2.2
pytest-runner==5.2
python-dateutil==2.8.0
pytz==2019.3
pyyaml==5.1.2
pyzmq==18.1.0
qtconsole==4.5.5
requests==2.22.0
rfc3987==1.3.8
rise==5.5.1
robotframework==3.1.2
robotframework-appiumlibrary==1.5.0.4
robotframework-faker==4.2.0
robotframework-seleniumlibrary==4.1.0
robotframework-seleniumscreenshots==0.9.5
robotframework-seleniumtestability==0.0.15
selenium==3.141.0
setuptools-scm==3.3.3
six==1.12.0
snowballstemmer==2.0.0
sphinx==2.2.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
strict-rfc3339==0.7
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.3
toml==0.10.0
tornado==6.0.3
traitlets==4.3.3
typed-ast==1.4.0
tzlocal==2.0.0
urllib3==1.25.6
validate-email==1.3
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
wmctrl==0.3
wrapt==1.11.2
zipp==0.6.0
