# Install requirements
docutils==0.17.1
ipykernel
ipywidgets
lunr
nbformat
nbimporter
pillow
pygments
robotframework==3.2.2
setuptools

# Test requirements
pytest-runner
pytest

# Docs requirements
nbsphinx
sphinx
sphinx-rtd-theme

# QA requirements
black
coverage
coveralls
isort
pydocstyle
pylama
pylint

# Misc playground requirements
faker
iplantuml
jupyter
jupyter-starters
jupyter-contrib-nbextensions
jupyterlab
jupytext
RESTinstance
rise
selenium==4.1.0
robotframework-faker
robotframework-seleniumlibrary
robotframework-seleniumtestability
robotframework-seleniumscreenshots
robotframework-jupyterlibrary
robotframework-sshlibrary

## Appium requires selenium < 4
# robotframework-appiumlibrary
# Appium-Python-Client
