# Install requirements
docutils==0.17.1
ipykernel
ipywidgets
lunr
nbformat
nbimporter
pillow
pygments
robotframework==3.1.2
setuptools

# Test requirements
pytest-runner
pytest

# Docs requirements
nbsphinx
sphinx
sphinx-rtd-theme

# QA requirements
black
coverage
coveralls
isort
pydocstyle
pylama
pylint

# Misc playground requirements
faker
iplantuml
jupyter
jupyter-starters
jupyter-contrib-nbextensions
jupyterlab
jupytext
RESTinstance
rise
selenium==4.1.0
robotframework-faker
robotframework-seleniumlibrary==5.0.1
robotframework-seleniumtestability
robotframework-seleniumscreenshots
git+https://github.com/robots-from-jupyter/robotframework-jupyterlibrary.git@6a9a8a2c844bf6f435ed806216afe501f0dd0ca2
robotframework-sshlibrary

## Appium requires selenium < 4
# robotframework-appiumlibrary
# Appium-Python-Client
