docutils==0.14
ipykernel
ipywidgets
lunr
nbformat
nbimporter
pillow
pygments==2.3.1
robotframework

pytest
pytest-runner
setuptools-scm

black
coverage
coveralls
isort
pdbpp
pydocstyle==3.0.0
pylama
pylint

faker
iplantuml
jupyter
jupyterlab
RESTinstance
requests==2.21.0
jsonschema==3.0.1
robotframework-appiumlibrary
robotframework-faker
robotframework-seleniumlibrary
robotframework-seleniumscreenshots

Appium-Python-Client
