RESTinstance==1.0.1
pillow==6.1.0
robotframework==3.1.2
robotframework-appiumlibrary==1.5.0.1
robotframework-debuglibrary==1.1.4
robotframework-faker==4.2.0
robotframework-seleniumlibrary==3.3.1
robotframework-seleniumscreenshots==0.9.5
selenium==3.141.0
urllib3==1.25.3
requests==2.22.0
